<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Main page</title>
</head>

<body>
    <div class="main">
        <h1>Hello! This is a test website to play with node.js and EJS.</h1>

        <div class="main__buttons">
                <a href="/1">
                    <button>Click on me!</button>
                </a>
                <a href="/2">
                    <button>Click on me!</button>
                </a>
                <a href="/3">
                    <button>Click on me!</button>
                </a>
        </div>
    </div>
</body>
</html>