<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="container">
        <a href="/">
            <button>Back</button>
        </a>
        <div class="container__image">
            <img src="../img/<%= id %>.png" alt="Image with cat">
        </div>
        <a href="#">
            <button class="container__button-like">Like</button>
        </a>
    </div>

    <script src="../js/main.js"></script>
</body>
</html>